.App {
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.card {
  height: 200pt;
  width: 80pt;
  border-color: black;
  border-width: 2pt;
  border-radius: 15%;
  background-color: white;
  margin: 5pt;
}

.empty-slot {
  height: 200pt;
  width: 40pt;
  border-radius: 15%;
  background-color: gray;
  margin: 5pt;
}

.game-button {

}