.App {
  text-align: center;
}

.card-container {
  display: flex;
}

.card {
  height: 200pt;
  width: 80pt;
  border-color: black;
  border-radius: 15%;
  background-color: white;
}

.empty-slot {
  height: 200pt;
  width: 20pt;
  border-radius: 15%;
  background-color: gray;
}